<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <div class="col-6 topbox">
      <h1>VINOTINTOS EN GRANDES LIGAS 2018</h1>
    </div>
    <div class="col-6"></div>
  </div>
</div>

<app-menubar></app-menubar>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div><h2 class="texthome">La información diaria de la actuación de los jugadores Venezolanos en Grandes Ligas.</h2></div>
        <div><h5 class="texthome2">Por posición -Cuadro, Jardines y Pitchers-.</h5></div>


    </div>
    <div class="col-sm-2"></div>
</div>
</div>-->



<router-outlet></router-outlet>
